.border-right {
  border-right: 0.5px solid rgba(136, 136, 136, 0.7);
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Footer {
  border-top: 1px solid #8080803b;
  font-size: 0.8rem;
}
.card {
  border-radius: 1rem;
}
@media only screen and (max-width: 400px) {
  .mobile {
    display: none !important;
  }
  .HomeText {
    text-align: center;
  }
  .headingTxt {
    font-size: 1.3rem;
  }
}
